header {
    display: block;
    justify-content: space-evenly;
}

body {
    /* align-items: center; */
}

.counter {
float: right;
font-size: 20px;
}

.playerScores {
    float: left;
font-size: 20px;
/* display: block; */
}

#begin_btn {
    display: block;
    align-items: center;
    background-color: indigo;
    color: white;
    width: 50%;
    padding: 1%;
    border-radius: 8px;

}

.hidden{
    display: none;
}

.flex {
    display: flex;
}

#questionscreen,
#score-screen{
    width: 50%;
  min-height: 500px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizscreen{
    /* display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 80vh;
}